@use './vars';
@mixin buildFont($font, $size, $weight, $color){
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

// sm, md, lg
@mixin breakpoint($size) {
	@if ($size == "xs") {
		@media all and (min-width: 699px) {
			@content;
		}
	}
	@else if ($size == "sm") {
		@media all and (min-width: 700px) {
			@content;
		}
	}
	@else if ($size == "md") {
		@media all and (min-width: 1000px) {
			@content;
		}
	}
	@else if ($size == "lg") {
		@media all and (min-width: 1200px) {
			@content;
		}
	}
	@else if ($size == "xl") {
		@media all and (min-width: 1400px) {
			@content;
		}
	}
}