.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
    
    &.menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &.search{
        justify-content: center;
        align-items: center;
    }
    &.video{
        align-items: center;
    }
}