.row{
    display: flex;
    flex-wrap: wrap;
    &.justify-content-space-between{
        justify-content: space-between;
    }
    &.justify-content-flex-end{
        justify-content: flex-end;
    }
    &.align-items-center{
        align-items: center;
    }
    &.margin-bottom-1{
        margin-bottom: 1rem;
    }
}